<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

 {{#with myData.aboutme}}
<h1>Skills</h1>

<p>HTML</p>
<div class="container">
  <div class="skills html">{{html}}</div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">{{css}}</div>
</div>

<p>Javascript</p>
<div class="container">
  <div class="skills js">{{javascript}}</div>
</div>

<p>Photoshop</p>
<div class="container">
  <div class="skills ps">{{photoshop}}</div>
</div>

<p>Adobe Premierepro</p>
<div class="container">
  <div class="skills ap">{{adobepremierepro}}</div>
</div>
 {{/with}}

</body>
</html>
